.product:hover{
    box-shadow: 0px 0px 10px gray !important;
}

.update-btn:hover{
    background-color: rgba(110, 110, 110, 0.849) !important;
    border: 1px solid rgba(110, 110, 110, 0.849) !important;
    font-weight: 600;
    /* color: black; */
}